.register-container {
    background: url(/static/media/mainBackground.7f3da3b6.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  #register-card{
    height: fit-content;
    width: 621px;
    margin: 100px 20px 5px 20px;
  }
  
  .buttons-container{
    display: flex;
    justify-content: space-around;
}